---
import astroLogo from "../assets/astro.svg";
---

<div>
  <div
    class="flex flex-col items-center justify-center h-screen bg-cover bg-center"
  >
    <img src={astroLogo.src} alt="Astro Logo" class="w-32 mb-4" />
    <h1 class="text-4xl font-bold">Welcome to Astro!</h1>
    <p class="mt-2 text-lg">
      Get started by editing <code>src/pages/index.astro</code>
    </p>
  </div>
</div>
