---
import Foto2 from '../assets/Foto.jpeg';
import Intro from './Subcomponents/Intro.astro';
---

<main class="flex flex-col md:flex-row items-center justify-center min-h-[calc(100vh-80px)] p-4 md:p-8 w-full max-w-6xl mx-auto">
  <Intro/>
  <!-- Sección de imagen -->
  <div class="w-full md:w-1/2 flex justify-center items-center mt-6 md:mt-0">
    <div class="w-64 h-64 md:w-96 md:h-96 bg-gray-200 dark:bg-gray-700 rounded-full flex items-center justify-center overflow-hidden shadow-xl">
      <img src={Foto2.src} alt="Foto de Camilo Andres Millán Mahecha" class="object-cover w-full h-full" />
    </div>
  </div>
</main>